<%- include('../shared/header.ejs') %>

<table>
  <thead>
    <tr>
      <th>Periods</th>
      <th>Commas</th> 
      <th>The</th>
      <th>And</th>
    </tr>
  </thead>

  <tr>
    <% data.forEach(data => { %>
    <td><%= data.countPeriods %></td>
    <td><%= data.countCommas %></td>
    <td><%= data.countThe %></td>
    <td><%= data.countAnd %></td>
  </tr>
  <% }) %>
</table>


<%- include('../shared/footer.ejs') %>